<div>Description:<%= @job.description %></div>
<div>Origin:<%= @job.origin %></div>
<div>Destination:<%= @job.destination %></div>
<div>Cost:<%= @job.totalcontainers * 100 %></div>
<div>Total Containers:<%= @job.totalcontainers %></div>
<div>Remaining Containers:<%= @job.totalcontainers %></div>

<h1><%= @job.totalcontainers * 100 %></h1>

<%= link_to "Update Job", edit_job_path, method: :get%>










<!-- Description - characters > 20, unique
Origin,
Destination,
Cost - cost > $100,
Amount of containers


rediect_to job_show -->
