<div>Description:<%= @job.description %></div>
<div>Origin:<%= @job.origin %></div>
<div>Destination:<%= @job.destination %></div>
<div>Cost:<%= @job.totalcontainers * 100 %></div>
<div>Total Containers:<%= @job.totalcontainers %></div>
<div>Remaining Containers:<%= @job.totalcontainers - @containers.to_i %></div>

<h1>Total: <%= @job.totalcontainers * 100 %></h1>

<% if !@works.any? %>
<%= link_to "Update Job", edit_job_path, method: :get%>
<% else %>
<p> Job's cannot be edited whilst assigned </p>
<% end %>

<% @works.each do |w| %>
<div>Boat:<%= Boat.find(w.boat_id).name %></div>
<div>Containers used:<%= w.containers %></div>
<%=link_to "Unassign", unassign_boat_path(:boatid => w.boat_id), method: :delete%>
<% end %>
