<div><%= Job.find_by_id(params[:id]).description %></div>
<div><%= Job.find_by_id(params[:id]).origin %></div>
<div><%= Job.find_by_id(params[:id]).destination %></div>
<div><%= Job.find_by_id(params[:id]).cost %></div>
<div><%= Job.find_by_id(params[:id]).totalcontainers %></div>
<div><%= Job.find_by_id(params[:id]).recontainers %></div>






<!-- Description - characters > 20, unique
Origin,
Destination,
Cost - cost > $100,
Amount of containers


rediect_to job_show -->
