<h1>Create Boat</h1>

<%= render 'boatForm' %>

<h2>All Boats</h2>

<% @boats.reverse.each do |b| %>
  Boat Name:  <a href="/"><%= b.name %></a><br>
  <%= image_tag b.avatar.url(:thumb) %><br>
  Boat Capacity: <%= b.capacity %><br>
  Boat Location: <%= b.location %><br>
  <hr>
<% end %>
