<h1><%= @boat.name %></h1>
<h2>Owner by <%= @user.email %> </h2>


<h4>Boat Stats</h4>
<ul>
  <li>Location: <%=@boat.location%></li>
  <li>Capacity: <%=@boat.capacity%></li>
  <li>Remaing: <%=@boat.capacity%></li>
</ul>



<h4>Current Jobs list</h4>


<h4>Assign Job Form</h4>
