<!DOCTYPE html>
<html>
  <head>
    <title>ShippedApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Economica|Oswald" rel="stylesheet">
  </head>

  <body>
    <nav class='navbar'>
      <ul>
      <% if user_signed_in? %>
        <li><%= link_to "Profile", user_path(current_user), :method => :get %></li>
        <li><%= link_to "Users List", users_path, :method => :get %></li>
        
        <%= link_to "Boats List", user_boats_path(current_user), :method => :get %></li>
        
        <li><%= link_to "Jobs List", jobs_path, :method => :get %></li>
        
        <li><%= link_to "Settings", edit_user_registration_path, :method => :get %></li>
        
        <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
      <% else%>

      <% end %>
    </nav>
    <%= flash[:message] if flash[:message] %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
